<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./parts/head") %>
</head>
<body>
    <%-include("./parts/nav") %>
    <section>
        <h1><%= blog.title %></h1>
        <h3><%= blog.short %></h3>
        <p><%= blog.long %></p>
    </section>
</body>
</html>
