<!DOCTYPE html>
<html lang="en">
<head>
 <%-include("./parts/head") %>
</head>
<body>
    
    <%-include("./parts/nav") %>
    
    <section>
        <h1>Blogs</h1>
        <ul>
            <% blogs.forEach(blog => { %>
            <li>
                <a href="/blog/<%= blog._id %>">
                    <%= blog.title%>
                </a>
                <p><%= blog.short%></p>
            </li>
                <% }) %>
        </ul>
    </section>
</body>
</html>